mirobody/res/*.bin filter=lfs diff=lfs merge=lfs -text
mirobody/res/*.npz filter=lfs diff=lfs merge=lfs -text
mirobody/res/*.npy filter=lfs diff=lfs merge=lfs -text
mirobody/res/*.gz filter=lfs diff=lfs merge=lfs -text
